.dropdown {
  max-width: 1023px;
  border-radius: 10px;
  overflow: hidden;
  
  &.open {
    .collapse-button svg {
      transform: rotate(-180deg);
  }
  
}
}
.content-wrapper{
  display: none;
  
  &.open{
    animation: slide-in 250ms forwards;
    display:flex;
    
  }
  &.closed{
    animation: slide-out 250ms forwards;
    display:flex;
  }
}
.collapse-button {
    width:100%;
    height: 52px;
    border-radius: 10px;
    background-color: #FF6060;
    padding: 10px 20px 10px 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border:none;
    border:none;
    @media screen and (max-width: 768px) {
      height: 30px;
      padding: 10px 10px 10px 0;
      & h2{
        height: 30px;
      }
    }
    & svg{
        width:32px;
        height:32px;
        transition: transform 250ms ease;
        transform-origin:center;
        cursor: pointer;
        background-color: #FF6060;
        @media screen and (max-width: 768px) {
            width: 18px;
            height:18px;
        }
        
      }
  }

@keyframes slide-in {
  0%{
    transform: translateY(-30px);
    opacity:0;
  }
  50%{
    opacity:0;
  }
  100%{
    transform: translateY(0);
    opacity:1;
    background-color: #F6F6F673;
  }
}
@keyframes slide-out {
  0%{
    transform: translateY(0);
    opacity:1;
    background-color: transparent;
  }
  50%{
    opacity:0;
  }
  100%{
    transform: translateY(-30px);
    opacity:0;
  }
}
.content {
    font-size: 18px;
    line-height: 143%;
    font-weight: 400;
    padding:15px 10px 15px 25px;
    
    @media screen and (max-width: 375px) {
        padding-left:10px;
        font-size: 14px;
        }
}